<!DOCTYPE html>
<html lang="es">
    <head>
		<meta charset="UTF-8">
        <title>crud-empleados</title>
    </head>
    <body>
        <h1>Listado de Empleados</h1>
		<div>
			<a th:href="@{/empleados/alta}">Dar de alta/modificacion a un empleado</a>
		</div>
		<table>
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Primer Apellido</th>
					<th>Segundo Apellido</th>
					<th>Fecha de Alta</th>
					<th>Genero</th>
					<th>Salario</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="empleado : ${empleados}">
					<td th:text="${empleado.Nombre}"></td>
					<td th:text="${empleado.primerApellido}"></td>
					<td th:text="${empleado.segundoApellido}"></td>
					<td th:text="${empleado.fechaAlta}"></td>
					<td th:text="${empleado.genero}"></td>
					<td th:text="${empleado.salario}"></td>
					<td><a th:href="@{/empleados/detalles/}+${empleado.id}">Detalles</a></td>
					<td><a th:href="@{/empleados/update/}+${empleado.id}">Modificar</a></td>
					<td><a th:href="@{/empleados/delete/}+${empleado.id}">Eliminar</a></td>
				</tr>
			</tbody>
		</table>
    </body>
</html>